*{
    margin: 0;padding: 0;box-sizing: border-box;
    color: rgb(234, 229, 82);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /*  */
}
body{
    
    background-image:url("https://raw.githubusercontent.com/pwlive/fullstackwebdevelopment/main/Assignment_01(HTML%2BCSS)/assets/pexels-maxyne-barcel-10402282%201.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    z-index: 1000;
}
.nav{
    padding: 25px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}
.nav ul li{
    list-style:none;
    text-decoration: none;
    padding: 5px 5px;
    transition: font-weight ease 0.5s;
}
.nav ul li:hover{
    color:rgb(231, 224, 15) ;
    font-weight: bold;
    border-bottom: 2px solid rgb(231, 224, 15);
}
.home{
    color:rgb(231, 224, 15) ;
    font-weight: bold;
    border-bottom: 2px solid rgb(231, 224, 15);
}
.nav .nav_btn{
    padding: 10px 20px;
    background-color: rgb(250, 93, 93);
    border:none;
    border-radius: 5px;
    color: white;
}
.nav .nav_btn:hover{
    background-color: rgba(229, 225, 225, 0.836);
    border: 1px solid rgb(250, 93, 93);
    color: rgb(250, 93, 93);
}
.nav img{
    padding: 20px;
}
main{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_main .main-heading{
    font-family: 'Acme', sans-serif;
    font-size: 80px;
    font-weight:bolder;
    text-transform: capitalize;
    text-align: center;
    line-height: 6rem;
    color: rgb(231, 202, 15) ;
}
main .second_main{
    position: fixed;
    bottom: 0;
    right: 0;

}
main .second_main img{
    height: 100px;
    margin: 10px;
}
